// Colors
$text-color: #929292;
$date-color: #acb0b8;
$heading-color: #212121;
$bg-light: #f7f7f7;
$bg-dark: #1d1d1d;
$border-color: #ededed;
$main-color: #c8b273;


// Fonts
$body-font: 'Merriweather', serif;
$body-font-2: 'Open Sans', sans-serif;
$heading-font: 'Poppins', sans-serif;
$heading-font-2: 'Playfair Display', serif;
$alt-font: 'Merriweather', serif;